/*FONTS*/
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
*/


/*COLOR PALATE*/
:root {
    --light-teal: rgba(111,237,235,0.6);
    --medium-teal: rgba(87,196,201,1);
    --dark-teal: rgba(62,151,171,1);
    --orange: rgba(227,134,91,1);
    --light-magenta: rgba(224,202,230,0.6);
    --menu-black:  rgba(28,28,28,1);
    --menu-content-text: rgba(255,255,255,0.3);
    --menu-content-icon: rgba(255,255,255,0.2);
    
    --header-text: rgba(15,15,15,1);
    --content-text: rgba(15,15,15,0.7);
    
    --small-text-05: rgba(255,255,255,0.5);
    --small-text-1: rgba(255,255,255,1);
    
    --white: rgba(255,255,255,1);
    --light-white: rgba(255,255,255,0.8);
    
    --line-stroke: rgba(0,0,0,0.1);
}

* {
        
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
}


/*---------------------------------------------*/
/*/NAVIGATION*/


/*NAVIGATION MENU*/
.navigation-menu {
    position: sticky;
    z-index: 11;
}

.navigation-menu-panel {
    position: absolute;
    right: -216px;
    
    height: 100vh;
    width: 216px;
    
    background-color: var(--menu-black);
}


.exit-cross {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.exit-cross img {
    width: 20px;
    height: 20px;
}

.navigation-menu-header {
    font-family: 'Montserrat', sans-serif;
    color: var(--orange);
    font-size: 0.85em;
    font-weight: 200;
    margin: 20px;
}

.navigation-menu-panel ul {
    list-style: none;
    padding: 0;
    margin: 20px;
}

.navigation-menu-panel li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.5em;
}

.li-line {
    width: 113px;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
    
    margin: 5px 0 10px 0;
}

.menu-text {
    color: var(--menu-content-text);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 20px;
}

.socialmedia-menu-list {
    width: 110px;
    
    display: flex;
    justify-content: space-between;
}

.socialmedia-menu-list li {
    display: inline;
}

.socialmedia-menu-list li i {
    color: var(--menu-content-icon);
}

/*NAVIGATION MENU DARKENING LAYER*/

.navigation-menu-layer {
    position: absolute;
    
    display: none;
    
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}


/*--------------------------------------------------*/
/*HERE STARTS THE LANDING VIEW CONTENT*/



/*LANDING-VIEW (header) */

.landing-view {    
    height: 100vh;
    width: 100%;
    
    position: relative;
    z-index: 0;
}




/*TRANSCEND LOGO*/

.logo {
    width: 103px;
    
    position: absolute;
    top: 48px;
    left: 20px;
    z-index: 10;
}

/*TRANSCEND LOGO DECORATION*/
.logo-decoration{
    position: relative;
    z-index: 9;
}

.bluebox-logo {
    position: absolute;
    
    height: 56px;
    width: 56px;
    
    background-color: var(--light-teal);
}

.pinkbox-logo {
    position: absolute;
    top: 56px;
    left: 56px;
    
    height: 37px;
    width: 28px;
    
    background-color: var(--light-magenta);
}




/*HAMBURGER MENU*/
.hamburger-menu {
    width: 30px;
    
    position: absolute;
    top: 48px;
    right: 20px;
    z-index: 10;
    
    cursor: pointer;
}






/*HEADER PANEL BACKGROUND / UPPER HALF OF LANDING VIEW*/
.header-panel-background {
    background-color: white;
    position: relative;
   
    height: 60%;
}


/*HEADER TEXT CONTAINER*/
.header-container {
    position: absolute;
    bottom: 0;
    padding: 0 20px;
}


/*HEADER TEXT*/
.main-header {
    font-family: 'Montserrat', sans-serif;
    color: var(--header-text);
}

.header-line-break {
    width: 81px;
    height: 3px;
    
    background-color: var(--orange);
}

.main-header-body-text {
    font-family: 'Merriweather', serif;
    color: var(--content-text);
    font-weight: 100;
    line-height: 1.5em;
}







/*HEADER IMAGE / LOWER HALF OF LANDING VIEW*/
.header-image-content {
    background-image: url(/images/header-img.jpg);
    background-position: center;
    background-size: cover;
    
    position: relative;
    
    height: 40%;
    width: 100%;
}

.header-image-overlay {
    background-color: rgba(0,0,0,0.4);
    
    height: 100%;
    width: 100%;
}

/*FOLLOW US LINK*/
.follow-us {
    position: absolute;
    top: 0;
    left: 20px;
}
/*STYLING*/
.follow-us-list {
    list-style: none;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.follow-us-list h5 {
    margin: 20px 0 10px 0;
}

.follow-us-list i {
    margin: 10px 0;
}




/*SCROLL DOWN BUTTON*/
.scroll-down {
    position: absolute;
    top: 20px;
    right: 20px;
}

.scroll-down-button {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    
    position: relative;
}

.scroll-down-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    height: 20px;
    
    cursor: pointer;
}

.scroll-down-text {
    display: none;
}




/*------------------------------------------------*/
/*HERE STARTS THE MAIN CONTENT*/



.who-we-are {
    padding: 0 20px;
    margin: 48px 0;
}

.who-we-are-label {
    font-family: 'Montserrat', sans-serif;
    color: var(--orange);
}

.who-we-are-header {
    font-family: 'Montserrat', sans-serif;
    color: var(--header-text);
    line-height: 1.3em;
}

.who-we-are-content {
    font-family: 'Merriweather', serif;
    color: var(--content-text);
    font-size: 0.85rem;
    line-height: 1.9em;
    margin-top: 30px;
}




